html
    head
        style
        script
            |window.onload = function () {
            |    alert(1);
            |}
        script.
            window.onload = function () {
                alert(1);
            }
        script
            include a.js
    body
        div
            |abc
            |123